*{
    margin: 0;
    padding: 0;
}
/*Estilos header*/
#menu-login{
    font-family: sans-serif;
    background:rgb(0, 113, 188);
    height: 80px;
    width: 100%;
}
#menu-login ul li a{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
#menu-login ul{
    float: right;
    margin-right: 20px;
}
#menu-login ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
.activo,a:hover{
    background: #1b9bff;
    transition: .5s;
}
label.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width:925px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    #menu-login ul li a{
        font-size: 16px;
    }
}
@media (max-width:858px){
    label.checkbtn{
        display: block;
    }
    #menu-login ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100;
        text-align: center;
        transition: all .5s;
    }
    #menu-login ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    #menu-login ul li a{
        font-size: 20px;
    }
    #menu-login a:hover,
    #menu-login a.activo{
        background:none;
        color: #5e53e6;
    }
    #check:checked~ul{
        left: 0;
    }
}

/*Estilos footer*/
.footer{
    width: 100%;
    font-family: sans-serif;
    background:rgb(0, 113, 188);
    height: 80px;
}
.footer p{
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.continer{
    overflow:hidden;
}

/*Estilos menu*/
.menu-izq{
    top: 200px;
    /*    position: absolute;*/
    font-family: sans-serif;
    background:rgb(0, 113, 188);
    width: 20%;
    height: 285px;
    float: left;
}
.menu-izq nav ul{
    text-align: center;
}
.menu-izq nav ul li{
    font-size: 30px;
    color: #d6ed22;
    padding-bottom: 10px;
    border: solid 2px #fff;
}
.menu-izq nav ul li a{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}

/*vista derecha*/
.vista-dere{
    width: 80%;
    float: left;
}

/*Estilos panel inicial*/
.vista-dere #panel {
    background-color: aqua;
    height: 300px;
    border: solid 1px red;
}

/*Estilos formulario*/
.form h2{
    text-align:center;
    color:#090909;
    margin-bottom:20px;
}
.form form{
    margin:auto;
    width:50%;
    max-width:500px;
    background:#F3F3F3;
    opacity:0.8;
    padding:50px;
    border:3px solid rgba(0,0,0,0.2);
    border-radius:20px;
}
.form input{
    display:block;
    padding:10px;
    width:100%;
    margin:30px 0;
    font-size:20px;
    border-radius: 5px;
}
.form select{
    padding: 8px;
    width: 70%;
    font-size: 15px;
    align-content: center;
    border-radius: 8px;
    margin: 0 60px 0;
}
.form input[type="submit"]{
    background:rgb(0, 113, 188);
    color: #fff;
    font-size: 30px;
    border:0;
    cursor:pointer;
    border-radius:20px;
    margin-bottom:0;
}
.form input[type="submit"]:hover{
    opacity: 0.8;
}
.form input[type="submit"]:active{
    transform: scale(0.95);
}
@media[max-width:480px]{
    .form form{
        width:95%;
    }
}
/*Estilos botones*/
.btn-green{
    width: 100px;
    background-color:green;
    color: #fff;
    border: 0;
    font-family:sans-serif;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
}
.btn-blue{
    width: 120px;
    background-color: rgb(41, 171, 226);
    color: #fff;
    border: 0;
    font-family:sans-serif;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
}
.btn-red{
    width: 120px;
    background-color: red;
    color: #fff;
    border: 0;
    font-family:sans-serif;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
}
.btn-blue-min{
    width: 60px;
    background-color: rgb(41, 171, 226);
    color: #fff;
    border: 0;
    font-family:sans-serif;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}
.btn-green-min{
    width: 60px;
    background-color: green;
    color: #fff;
    border: 0;
    font-family:sans-serif;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}
.btn-red-min{
    width: 60px;
    background-color: red;
    color: #fff;
    border: 0;
    font-family:sans-serif;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}

/*Estilo input*/
.input-text{
    padding:0px;
    width:300px;
    height: 30px;
    margin:0px;
    font-size:20px;
    border-radius: 5px;
}
/*Estilos listas productos*/
/*primera seccion*/
#busc-producto nav ul li{
    list-style: none;
    display: inline-block;
}
#busc-producto nav{
    padding: 30px;
}

/*estilos tabla*/
table{
    border: solid 1px red;
    text-align: center;
    width: 100%;
    border-collapse:collapse;
    border: none;
}
.tb-head{
    background-color:rgb(0, 113, 188);
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;

}
.tb-head tr td{
    margin: 0;
    padding:5px;
}

/*Estilos Lista de productos*/
/*segunda seccion*/
#lista-productos{
    padding: 30px;
}

/*Estilos mensaje de advertencia*/
#mensaje{
    margin: 50px 50px 100px 400px;
    text-align: center;
    width: 400px;
    height: 200px;
    background-color: rgb(242, 242, 242);
    font-family: sans-serif;
    font-weight: bold;
    box-shadow: 6px 6px 12px rgb(118, 106, 106);
}
#mensaje h2{
    color: red;
}