*{
    margin: 0;
    padding: 0;
}
/*Estilos header*/
#menu-login{
    font-family: sans-serif;
    background:rgb(0, 113, 188);
    height: 80px;
    width: 100%;
}
#menu-login ul li a{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
#menu-login ul{
    float: right;
    margin-right: 20px;
}
#menu-login ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
.activo,a:hover{
    background: #1b9bff;
    transition: .5s;
}
label.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width:925px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    #menu-login ul li a{
        font-size: 16px;
    }
}
@media (max-width:858px){
    label.checkbtn{
        display: block;
    }
    #menu-login ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100;
        text-align: center;
        transition: all .5s;
    }
    #menu-login ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    #menu-login ul li a{
        font-size: 20px;
    }
    #menu-login a:hover,
    #menu-login a.activo{
        background:none;
        color: #5e53e6;
    }
    #check:checked~ul{
        left: 0;
    }
}

/*Estilos footer*/
.footer{
    width: 100%;
    font-family: sans-serif;
    background:rgb(0, 113, 188);
    height: 80px;
}
.footer p{
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.continer{
    overflow:hidden;
}

/*Estilos menu*/
.menu-izq{
    top: 200px;
    /*    position: absolute;*/
    font-family: sans-serif;
    background:rgb(0, 113, 188);
    width: 20%;
    height: 335px;
    float: left;
}
.menu-izq nav ul{
    text-align: center;
}
.menu-izq nav ul li{
    font-size: 30px;
    color: #d6ed22;
    padding-bottom: 10px;
    border: solid 2px #fff;
}
.menu-izq nav ul li a{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}

/*vista derecha*/
.vista_dere{
    width: 80%;
    float: left;
}

/*Estilos perfil de usuario*/
#perfil-usuario{
    margin-left: 200px;
    margin-right: 350px;
    text-align: center;
    border-radius: 10px;
}
#perfil-usuario img{
    width: 200px;
    border-radius: 10px;
}
#perfil-usuario p{
    font-size: 20px;
}
#perfil-usuario table{
    text-align: left;
    margin: 30px;
    margin-left: 80px;
    margin: solid 1px red;
}
/*Estilos panel inicial*/
.vista_dere #panel {
    height: 300px;
    text-align: center;
}
.vista_dere #panel h1{
    color: rgb(0, 113, 188);
    line-height: 300px;
}

/*Estilos formulario*/
.form h2{
    text-align:center;
    color:#090909;
}
.form form{
    text-align: center;
    margin:auto;
    width:300px;
    max-width:500px;
    background:#F3F3F3;
    opacity:0.8;
    padding:50px;
    border-radius:10px;
    box-shadow: 6px 6px 12px rgb(118, 106, 106);
}
.form input{
    padding:8px;
    width:250px;
    margin:10px;
    font-size:20px;
    border-radius: 5px;
    border: solid 1px black;
}
.form select{
    padding: 8px;
    width: 250px;
    font-size: 15px;
    align-content: center;
    border-radius: 5px;
    margin: 10px;
}
.form input[type="submit"]{
    background:rgb(0, 113, 188);
    color: #fff;
    font-size: 20px;
    border:0;
    cursor:pointer;
    border-radius:20px;
    margin:10px;
    width: 200px;
}
.form input[type="submit"]:hover{
    opacity: 0.8;
}
.form input[type="submit"]:active{
    transform: scale(0.95);
}
.form h3{
    margin: 10px;
}

/*Estilos formulario de registro*/
.form-reg h2{
    text-align:center;
    color:#090909;
}
.form-reg form{
    text-align: center;
    margin:auto;
    width:800px;
    max-width:800px;
    background:#F3F3F3;
    opacity:0.8;
    padding:50px;
    border-radius:10px;
    box-shadow: 6px 6px 12px rgb(118, 106, 106);
}
.form-reg input{
    padding:8px;
    width:250px;
    margin:10px;
    font-size:20px;
    border-radius: 5px;
    border: solid 1px black;
}
.form-reg select{
    padding: 8px;
    width: 270px;
    font-size: 15px;
    align-content: center;
    border-radius: 5px;
    margin: 10px;
    border: solid 1px black;
}
.form-reg input[type="submit"]{
    background:rgb(0, 113, 188);
    color: #fff;
    font-size: 20px;
    border:0;
    cursor:pointer;
    border-radius:20px;
    margin:10px;
    width: 200px;
}
.form-reg input[type="submit"]:hover{
    opacity: 0.8;
}
.form-reg input[type="submit"]:active{
    transform: scale(0.95);
}
.form-reg h3{
    margin: 10px;
}
.form-reg input[type="button"]{
    background:rgb(0, 113, 188);
    color: #fff;
    font-size: 20px;
    border:0;
    cursor:pointer;
    border-radius:20px;
    margin:10px;
    width: 200px;
}
.form-reg input[type="button"]:hover{
    opacity: 0.8;
}
.form-reg input[type="button"]:active{
    transform: scale(0.95);
}
.form-reg h3{
    margin: 10px;
}

/*Estilos listas productos*/
/*primera seccion*/

#busc-producto nav{
    margin: 30px;
}

#busc-producto nav ul li{
    list-style: none;
    display: inline-block;
}


/*estilos tabla*/
table{
    border: solid 1px red;
    text-align: center;
    width: 100%;
    border-collapse:collapse;
    border: none;
}
.tb-head{
    background-color:rgb(0, 113, 188);
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
}
.tb-head tr td{
    margin: 0;
    padding:5px;
}

/*Estilos Lista de productos*/
/*segunda seccion*/
#lista-productos{
    height: 300px;
    padding: 30px;
    overflow: scroll;
}

/*Estilos mensaje de advertencia*/
#mensaje{
    margin: 50px 50px 100px 400px;
    text-align: center;
    width: 400px;
    height: 200px;
    background-color: rgb(242, 242, 242);
    font-family: sans-serif;
    font-weight: bold;
    box-shadow: 6px 6px 12px rgb(118, 106, 106);
}
#mensaje h2{
    color: red;
}
/*Estilos detalle*/
.detalle{
    margin: 0 100px;
    border-radius: 10px;
    width: 70%;
}
.detalle table{
    margin: 10px;
}
.detalle table tr td h2{
    color: #272323;
}
.detalle table tr td p{
    font-size: 20px;
}
.detalle table tr{
    text-align: left;
}
/*Estilos botones*/

.btn-blue{
    width: 120px;
    background-color: rgb(41, 171, 226);
    color: #fff;
    border: 0;
    font-family:sans-serif;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
}
.btn-red{
    width: 120px;
    background-color: red;
    color: #fff;
    border: 0;
    font-family:sans-serif;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
}
.btn-blue-min{
    width: 60px;
    background-color: rgb(41, 171, 226);
    color: #fff;
    border: 0;
    font-family:sans-serif;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}
.btn-green-min{
    width: 60px;
    background-color: green;
    color: #fff;
    border: 0;
    font-family:sans-serif;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}
.btn-red-min{
    width: 60px;
    background-color: red;
    color: #fff;
    border: 0;
    font-family:sans-serif;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}
.btn-red-max{
    background-color: red;
    color: #fff;
    font-size: 30px;
    border:0;
    cursor:pointer;
    border-radius:20px;
    margin-bottom:0;
}

/*Estilo input*/
.input-text{
    padding:0px;
    width:300px;
    height: 30px;
    font-size:20px;
    border-radius: 5px;
}
.btn-green{
    width: 120px;
    background-color: green;
    color: #fff;
    border: 0;
    font-family:sans-serif;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
}